/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height:47px;
    background:url(images/bg_menu01.png) repeat-x;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
	background:url(../images/bg_menu01.png);
	background-color:#000;
}
div#menu ul.menu {
	padding:0;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}
   
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
	background-color:#333;
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 10;
    height: 47px;
    display: block;
    float: left;	
    text-decoration: none;
}
div#menu span {
    font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    padding-top: 18px;
    color: #787878;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul a:hover span {
    color: #353535;
}

div#menu li { background:url(../images/bg_menu01.png);
}
div#menu li.last span{
    background: url(../images/bg_menu01.png) top right no-repeat;
}

/* menu::level2 */
div#menu ul ul li {
    background: url(../images/bg_menu01.png) left bottom repeat-x;
    z-index: 9;	
}
div#menu ul ul {
    z-index: 12;	
    padding: 0;
    background: url(../images/bg_menu01.png) right top no-repeat;
}
div#menu ul ul a {
    height: auto;
    float: none;
    display: block;
    background:none;
    margin-bottom: 2px;
    z-index: -1;
}
div#menu ul ul a span {
    color: #454545;
    font-weight:normal;
    text-transform: none;
    background:none;
}
div#menu ul ul a:hover {
    background: url(images/submenu-selected-bottom.gif) no-repeat 8px bottom;
}
div#menu ul ul a:hover span {
    background: url(images/submenu-selected-top.gif) no-repeat 0px 0px;
    color: #fff;
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -50px 0 0 190px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}



ul.menu li { position: relative; float: left; cursor: pointer; }
ul.menu li:hover{ cursor:default;
}
ul.menu li ul {
	position: absolute;
	top: 47px;
	left: 0px;
	padding: 1px;
	background:url(../images/bg_menu.png);
	border:1px solid #
	width:auto;
	}
ul.menu li ul li { float: none; font-size: 12px; padding:5px 10px; background:url(../images/bg_menu01.png);
min-width:200px;
 }
ul.menu li ul li a{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	padding:10px 0;
	border-bottom:1px dotted #beddf5; 
}
ul.menu li ul li a:hover{
	text-decoration:underline;
	color:#FFFF00;
}